table {
	width: 100%;
	th, td {
		text-align: left;
		padding: .7em;
		border-right: 1px solid $color-grey-200;
		&:last-child {
			border-right: 1px solid $color-grey-300;
		}
	}
	tr {
		border: 1px solid $color-grey-300;
	}
	th {
		font-weight: bold;
		background-color: $color-grey-50;
	}
	td {
		background-color: #fff;
		color: $color-grey-800;
	}
}