.browse-alt {
	max-width: 800px;
	padding-top: 3em;
	margin: 0 auto;
}

.browse-alt__filters {
	margin-bottom: 2em;
	.toolbar {
		margin-top: 1em;
	}
}

.articles-table {
	font-weight: 400;
	font-size: $text-font-size;
	tbody {
		tr {
			td:first-child {
				font-weight: bold;
			}
		}
	}
}

select {
	max-width: 200px;
	background-color: #fff;
}