.toolbar {
	@include clearfix();
}

.toolbar--left {
	:first-child {
		margin-left: 0;
	}
}

.toolbar--right {
	float: right;
	:last-child {
		margin-right: 0;
	}
}

.toolbar__item {
	float: left;
	margin: {
		left: .5em;
		right: .5em;
	}
}

.toolbar__label {
	float: left;
	margin-right: 1em;
	margin-top: .15em;
}

.toolbar--tabs {
	&.toolbar--left, &.toolbar--right {
		.toolbar__item {
			border-radius: 0;
			margin: {
				left: -1px;
				right: 0;
			}

			&:first-of-type {
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
			&:last-of-type {
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		}
	} 
}