.browse-alt {
	max-width: 800px;
	padding-top: 3em;
	margin: 0 auto;
}

.browse-alt__filters {
	margin-bottom: 2em;
	.toolbar {
		margin-top: 1em;
	}
}

.articles-table {
	font-weight: 400;
	font-size: $text-font-size;
	tbody {
		tr {
			td:first-child {
				font-weight: bold;
			}
		}
	}
}

.dir-item__status {
	position: absolute;
	right: .5em;
	top: .6em;
}

select {
	max-width: 200px;
	background-color: #fff;
}

.badge {
	display: block;
	height: 1.2em;
	width: 1em;
	text-align: center;
	line-height: 1.2em;
	background-color: $color-grey-500;
	color: #fff;
	font-weight: bold;
	font-size: $small-font-size;
	margin: .4em 0;
}

.badge--endorsed {
	background-color: $color-green-500;
}

.badge--requested {
	background-color: $color-orange-500;
}


.modal-container {
	@include transition(opacity .2s ease-out);
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(#000, .15);
	z-index: -2;
	opacity: 0;
	&.is-open {
		z-index: 9999;
		opacity: 1;
	}
}
.modal {
	background-color: #fff;
	box-shadow: $box-shadow-2;
	width: 600px;
	margin: 0 auto;
	height: auto;
	padding: $site-margins/2;
}

.activity-page {
	margin: 2em 0;
}

.activity-box {
	position: relative;
	background-color: #fff;
	width: 680px;
	margin: 2em auto;
	box-shadow: $box-shadow-1;
	padding: $site-margins/2 $site-margins;
}

.activity-box__button {
	position: absolute;
	right: $site-margins;
}

.activity-box__header {
	padding-bottom: .5em;
	margin-top: 0;
	margin-bottom: .5em;
	border-bottom: 4px solid $color-grey-200;
}

.activity {
	@include clearfix();
	position: relative;
	margin: 1em 0;
	&:last-child {
		.activity__info {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.activity__selector {
	position: absolute;
	top: 0;
	left: 0;
}

.activity__info {
	margin-left: 30px;
	border-bottom: 1px solid $color-grey-200;
	padding-bottom: 1em;
}


.activity__name {
	margin: 0;
}

.activity__file {
	font-weight: bold;
	text-decoration: underline;
}

.activity__details {
	color: $color-grey-800;
}

.button--status {
	padding: {
		top: .3em;
		bottom: .3em;
	}
	position: relative;
	background-color: #fff;
	z-index: 1;
	width: 11em;
	padding-left: 2em;
	line-height: 1em;
	&:after {
		position: absolute;
		content: '';
		font-family: "FontAwesome";
		z-index: 1;
		left: .5em;
		top: 50%;
		margin-top: -.5em;
	}
	&:before {
		background-color: $color-grey-200;
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		z-index: -1;
	}
	&.button--status--edited {
		color: $color-grey-700;
		&:after {
			content: '\f040';
		}
		&:before {
			width: 25%;
		}
		&:hover {
			&:before {
				display: none;
			}
		}
	}
	&.button--status--requested {
		color: $color-orange-500;
		&:after {
			content: '\f06e';
		}
		&:before {
			background-color: $color-orange-50;
			width: 50%;
		}
		&:hover {
			&:before {
				display: none;
			}
		}
	}
	&.button--status--endorsed {
		color: $color-green-500;
		&:after {
			content: '\f087';
		}
		&:before {
			background-color: $color-green-50;
			width: 75%;
		}
		&:hover {
			&:before {
				display: none;
			}
		}
	}
	&.button--status--published {
		color: $color-blue-500;
		&:after {
			content: '\f00c';
		}
		&:before {
			background-color: $color-blue-50;
			width: 100%;
		}
		&:hover {
			&:before {
				display: none;
			}
		}
	}
}

.articles-list__toolbar {
	margin-top: .8em;
}

.dir--articles {
	.dir-item__name {
		&:before {
			font-family: "FontAwesome";
			content: '\f15c';
			margin-right: 1em;
		}
		.is-editing & {
			&:before {
				display: none;
			}
		}
	}
}

.dir__title {
	margin-bottom: 0;
	.fa {
		font-size: 14px;
		margin-left: .5em;
		color: $color-grey-500;

	}
}
.dir__description {
	margin-top: 0;
	border-bottom: 4px solid $color-grey-200;
	padding-bottom: 1em;
}

.dir {
	margin-top: 0;
}

.dir-item {
	padding-left: 1em;
	border-bottom: 1px solid $color-grey-300;
	border-top: 1px solid $color-grey-300;
	margin-top: -1px;
	.is-editing & {
		padding-left: 3em;
	}
	.fa-reorder {
		@include user-select(none);
		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		&:active {
			cursor: move;
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}

	}
	&.sortable-ghost {
		opacity: 0;
	}
}

.dir-item__action {
	right: 1em;
	left: auto;
	display: block;
}

.dir-new-item {
	display: block;
	font-weight: 400;
	position: relative;
	padding-left: 2em;
	font-size: $text-font-size;
	padding: 1em 2em;
	line-height: 1em;
	&:before {
		font-family: 'FontAwesome';
		content: '\f067';
		position: absolute;
		left: .5em;
		top: 1em;
	}
}

.directory-modify__form {
	position: static;
}

.browse-edit-description {
	background-color: $color-grey-800;
	color: #fff;
	p {
		font-weight: 400;
		margin: 0;
	}
}