.browse-alt {
	max-width: 800px;
	padding-top: 3em;
	margin: 0 auto;
}

.browse-alt__filters {
	margin-bottom: 2em;
	.toolbar {
		margin-top: 1em;
	}
}

.articles-table {
	font-weight: 400;
	font-size: $text-font-size;
	tbody {
		tr {
			td:first-child {
				font-weight: bold;
			}
		}
	}
}

.dir-item__status {
	position: absolute;
	right: .5em;
	top: .6em;
}

select {
	max-width: 200px;
	background-color: #fff;
}

.badge {
	display: block;
	height: 1.2em;
	width: 1em;
	text-align: center;
	line-height: 1.2em;
	background-color: $color-grey-500;
	color: #fff;
	font-weight: bold;
	font-size: $small-font-size;
	margin: .4em 0;
}

.badge--endorsed {
	background-color: $color-green-500;
}

.badge--requested {
	background-color: $color-orange-500;
}


.modal-container {
	@include transition(opacity .2s ease-out);
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(#000, .15);
	z-index: -2;
	opacity: 0;
	&.is-open {
		z-index: 9999;
		opacity: 1;
	}
}
.modal {
	background-color: #fff;
	box-shadow: $box-shadow-2;
	width: 600px;
	margin: 0 auto;
	height: auto;
	padding: $site-margins/2;
}

.activity-page {
	margin: 2em 0;
	.button--large {
		margin: 1em auto;
		display: block;
	}
}

.activity-box {
	position: relative;
	background-color: #fff;
	width: 680px;
	margin: 2em auto;
	box-shadow: $box-shadow-1;
	padding: $site-margins/2 $site-margins;
}

.activity-box__button {
	position: absolute;
	right: $site-margins;
}

.activity-box__header {
	padding-bottom: .5em;
	margin-top: 0;
	margin-bottom: .5em;
	border-bottom: 4px solid $color-grey-200;
}

.activity {
	@include clearfix();
	position: relative;
	margin: 1em 0;
	&:last-child {
		.activity__info {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.activity__selector {
	position: absolute;
	top: 0;
	left: 0;
}

.activity__info {
	margin-left: 30px;
	border-bottom: 1px solid $color-grey-200;
	padding-bottom: 1em;
}


.activity__name {
	margin: 0;
}

.activity__file {
	font-weight: bold;
	text-decoration: underline;
}

.activity__details {
	color: $color-grey-800;
}

.activity-bar {
	background-color: $color-blue-600;
	border-bottom: 1px solid $color-grey-200;
	border-top: 1px solid $color-blue-400;
	color: #fff;
	p { 
		margin: 0;
		margin-top: .4em;
		font-weight: bold;
	}
}